export(CreateSCRAMObject)
export(runCellTypeLevelSCRAM)
export(runCellClassLevelSCRAM)
export(readModelsPretrained)
export(annotateHighRibosomalCells)
export(runSCRAM)
export(plotUMAPCellTypePerCluster)
export(plotPercAnnotatedCells)
export(writeSCRAMresults)
export(readCASPER)
export(readCASPER_patientSpec)
export(generate_HighExpressionFeatures)
export(generate_HighExpressionFeaturesFromModel)
export(readMODELS)
export(plotModels)
export(f3)
export(createModelMatrix)
export(plotUMAPCellTypePerCluster)
export(plotCasperBulkSignalHeatmap)
export(createCellTypeMatrix)
export(runCASPER_Bulk_Scell)
export(runFinalTumorAnnotation)
export(readCASPER)
export(readCASPER_patientSpec)
export(generate_HighExpressionFeatures)
import(foreach)
import(Seurat)
import(dplyr)
import(mclust)
import(doParallel)
import(arules)
import(CaSpER)